<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta charset="utf-8" />

  <!-- IMPORTANT: starting slash lagao -->
  <link rel="stylesheet" href="/stylesheets/home.css">
  <script src="/javascripts/home.js" defer></script>
</head>
<body>

  <div class="desktop">
    <img class="chatgpt-image-apr" src="/images/background.png" />
    <img class="img" src="/images/face.png" />

    <p class="THIS-ISN-t-FILTERS">
      THIS ISN’T FILTERS.<br/>THIS IS EVOLUTION.
    </p>

    <p class="AI-that-analysis">
      AI that analysis your face , body,and habits __<br/>
      and builds your real-world transformation
    </p>

    <div class="rectangle"></div>
    <button class="text-wrapper" onclick="hero()">START SCAN</button>

    <div class="div"></div>
    <div class="text-wrapper-2">WATCH DEMO</div>

    <img class="chatgpt-image-apr-3" src="/images/background2.png" />
    <img class="chatgpt-image-apr-4" src="/images/background2.png" />

    <p class="p">WHAT AI SEES IN YOU</p>

    <img class="chatgpt-image-apr-5" src="/images/symmetry.png" />
    <img class="chatgpt-image-apr-6" src="/images/acne.png" />
    <img class="chatgpt-image-apr-7" src="/images/posture.png" />
    <img class="chatgpt-image-apr-8" src="/images/plan.png" />
    <img class="generated-image" src="/images/hair.png" />
    <img class="diet" src="/images/diet.png" />
    <img class="skincare" src="/images/skincare.png" />
  </div>

</body>
</html>